@media (max-width : 1200px) {
    /* start header */
    aside {
        width: 30%;
    }

    .panner{
        width: 70%;
    }
    /* end header */
    /*start sec collections */
    .card h2 {
        font-size: 28px;
    }
    /* end  sec collections */
    /* start sec latest */
    .box .card {
        width: calc((100% - 40px ) / 3 );
    }
    /* end sec latest */
    /* start sec game */
    .card_game {
        width: calc((100% - 40px) / 3);
    }
    /* end sec game */
    /* start footer */
    
    .phon  {
        font-size: 11px;
    }
    
    footer .container .cont .box b {
        margin: 0px 0 40px;
        font-size: 20px;
    }
    .get_newsletter button {
        width: 100%;
    }
    footer .container .cont .box {
        margin-bottom: 40px;
    }
    .app > img {
        width: 25%;
    }
    /* end footer */
}
@media (max-width : 992px) {
    .nav_wrapper .nav_wrapper_search {
        display: none;
    }
    /* start sec news */
    .card_news {
        margin-bottom: 20px;
        width: calc((100% - 20px) / 2);
    }
    /* end sec news */
    /* start footer */
    .aside_footer {
        display: none;
    }
    /* end footer */
}
@media (max-width : 768px) {
    /* start  header */
    
    label {
        display: flex;
    }
    .nav_wrapper_logo {
        width: 40%;
    }
    .header_topbar {
        display: none;
    }

    .nav_wrapper {
        background-color: var(--back-color);
        margin: 0 0 20px;
    }

    .box_nav {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background: var(--back-color);
        padding: 0 40px;
        left: 0;
        z-index: 99999;
    }
    .nav_container input.close:checked ~ nav {
        transform: translateY(0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
    }
    ::-webkit-scrollbar-track {
        background-color: var(--secondary-color);
        opacity: 0;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
    }

    nav {
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        position: fixed;
        transform: translateY(100%);
        border: unset;
    }
    .cont_nav {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: unset;
        padding: 0px 0px;
    }

    ul > label{
        display: flex;
    }

    ul {
        flex-direction: column;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        padding: 100px 0;
        display: unset;
        height: 100% !important;
    }

    ul li input:checked ~ ol a  {
        color: var(--font-color);
    }

    ul li input:checked  ~ ol {
        height: calc(10 * 50.4px);
        border-top: 4px solid var(--secondary-color);
        opacity: 1;
    }

    ul li input:checked ~ ol a  {
        color: var(--font-color);
    }

    ul li input:checked ~ .grid_3 {
        height: calc(3 * 50.4px);
    }

    ul > label {
        background: var(--secondary-color);
        color: var(--font-color);
        padding: 10px;
        border-radius: 30%;
        position: absolute;
        top: 25px;
        left: 30px; 
        cursor: pointer;
    }

    ul label span .fa-plus{
        transform: rotate(45deg);
    }

    ul li  {
        flex-direction: column;
    }

    ul li 
    ,ul li  label{
        width: 100%;
        justify-content: space-between;
        height: max-content;
        padding: 10px;
        font-size: 20px;
    }

    ul li ol {
        position: unset;
        width: 100%;
        overflow: hidden;
    }

    ul li input:checked ~ .row {
        height: calc(10 * 62.3px);
    }

    .row {
        width:100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .row li {
        width: 100%;
    }
    .cont_nav .coupon_logo
    ,.nav_support{
         display: none; 
    }

    aside {
        display: none;
    }

    .panner {
        width: 100%;
    }
    /* end  header */
    .card {
    width: calc((100% - 20px) / 2);
    }
}
@media (max-width : 576px) {

    /* nav */
    nav {
        width: 65%;
    }
    /* nav */
    aside
    ,select
    ,.nav_wrapper_search input
    ,.nav_wrapper_search a
    ,.header_topbar{
        display: none;
    }

    .panner {
        width: 100%;
    }

    .panner h1 {
        color: var(--font-color);
        font-size: 35px;
        width: 100%;
        font-family: var(--Bold-font);
    }

    .slider_1 .title  
    ,.slider_2 .title
    ,.slider_3 .title {
        width: 100%;
        transform: translate(-50% , -50%);
    }

    .panner a {
        color: var(--font-color);
        font-size: 25px;
        position: relative;
        font-family: var(--Bold-font);
        transition: 0.5s;
        width: max-content;
        overflow: hidden;
        display: inline-block;
    }

    .Newsletter h3 {
        font-size: 35px;
    }

    .card
    ,.box .card
    ,.logo_team img
    ,.form 
    ,.Newsletter p
    ,.card_game
    ,.card_news
    ,footer .container .cont .box div  {
        width: 100%;
    }
    /* start sec news */
    .news .container{
        gap: 50px;
    }
    /* end sec news */
    /* start footer */
    footer .container .box {
        flex-direction: column;
    }
    .aside_footer
    ,footer .container .cont .app {
        display: none;
    }
}